<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Borrowers List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .error-message{
            color: red;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <a style="color: azure" class="navbar-brand" href="#">Micro Library        </a>
        </div>

        <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li ><a href="/admin/userslist">Users List</a></li>

            <li  class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bookself
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/book/category">Cetagory</a></li>
                    <li><a href="/admin/book/title">Title</a></li>
                    <li><a href="/admin/bookself">All </a></li>
                </ul>
            </li>

            <li><a href="/admin/book/add">Add Book</a></li>
            <li class="active"><a href="/admin/book/borrowers">Borrowers List</a></li>
            <li  class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ordered Book
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ><a href="/admin/book/orderlist">Orderlist </a></li>
                    <li><a href="/admin/book/order">New Order</a></li>
                </ul>
            </li>


        </ul>



        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"  sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/profile/settings">Settings</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>

<div class="container">
    <h2 style="margin-top: 15px; text-align: center;color: blueviolet">Borrowers List :</h2>
    <div style="text-align: right;margin-top: 15px;width: available">
        <form action="/admin/book/borrowerslist">
            <input type="text" placeholder="search..." name="s">
            <button type="submit" style="color: mediumvioletred;background-color: darkgray"><i class="fa fa-search"></i>Search</button>
        </form>
    </div>

    <table class="table table-bordered table-striped" style="margin-top:10px">
        <thead>
        <tr>
            <th>Username:</th>
            <th>Email:</th>
            <th>Phone</th>
            <th>Number of Borrowed Books</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="element : ${borrowlist}">

            <td> [[${element.username}]]</td>
            <td> [[${element.email}]]</td>
            <th>  [[${element.phone}]]</th>
            <th style="color: dodgerblue">  [[${#lists.size(element.bookBorrowList)}]]</th>
            <th>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin/borrow/books(user=${element.username})}" class="btn btn-primary">View Books</a>
                </div>
            </th>

        </tr>
        </tbody>
    </table>
</div>


</body>
</html>